name: npm test
on: 
  workflow_dispatch:
         
jobs:
  job1:
    runs-on: ubuntu-latest
    name : test npm
    defaults:
    run:
      working-directory: ./public
    steps:
    - name: test 
      uses: actions/checkout@v3
    - name: test 2
      uses: actions/setup-node@v3
      with:
        node-version: lts/*
    - name: install npm    
      run: |
          npm install